<!-- check to see if Devices are nil, and if not, display them-->
<% if @devices.first != nil %>
  <%if $gpio_initialized == false%>
    <% gpio_setup %> 
  <%end%>

<h1>Devices</h1>
Device Initialized Status: 
<%= $gpio_initialized %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Devices</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td><strong>Device Name</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>Function</strong></td>
      <td><strong>Node ID</strong></td>



      <%@devices.each do |d|%>
        <tr>
          <td><%= d.name%></td>
          <td><%= d.description%></td>
          <td><%= d.deviceFunction%></td>
          <td><%= d.node_id%></td>
          <td>
            <%if d.io == 0%>
              <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%=d.name%>, <%= d.id%>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'PIN_ON', device_pin_high_path(d,:id => d.id), remote: true%></li>
                    <li><%= link_to 'PIN_OFF', device_pin_low_path(d,:id => d.id), remote: true%></li>
                    <!-- Transmit a Text Command -->
                    <li><%= link_to 'transmit single hex', device_serial_out_path(d, :serial_text => "55"),  remote: true%></li>
                    <li><%= link_to 'Light ON', device_serial_out_path(d, :serial_text => "7E001017010013A200406C019F00020244300569"),  remote: true%></li>
                    <li><%= link_to 'Light OFF', device_serial_out_path(d, :serial_text => "7E001017010013A200406C019F0002024430046A"),  remote: true%></li>
                  </ul>
                </div>
              </div>
            <%end%>
          </td>
          <td><%= link_to 'Edit', edit_device_path(d), class: 'btn btn-warning' %></td>

          <td><%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <%end%>
    <%end%>
  </tr>
  </table>
</div>

<%= link_to 'New Device', new_device_path, class: 'btn btn-primary' %>